<% if content.errors.any? %>
  Errors: <%= content.errors.full_messages.join(', ') %>
  <BR>
  <BR>
<% end %>

<%= form_with(model: content, local: true) do |form| %>
  <div class='form-group'>
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= form.label :tags %>
    <%= form.select :tags, options_for_select(current_user.tags.pluck(:name), content.tags.pluck(:name)), {}, { class: 'select2 form-control', multiple: 'multiple' } %>
  </div>

  <div class='actions'>
    <%= form.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
