<%= link_to 'New Content', new_content_path %>

<h1>Contents</h1>

<% @contents.each do |content| %>
  <%= link_to 'Show', content_path(content) %>
  <%= link_to 'Edit', edit_content_path(content) %>
  <%= link_to 'Destroy', content_path(content), method: :delete, data: { confirm: 'Are you sure?' }  %>
  <strong>Title</strong>: <%= content.title %>
  <strong>Description</strong>: <%= content.description %>
  <strong>Tags</strong>: <%= content.tags.pluck(:name).join(', ') %>
  <BR>
<% end %>
