<%= link_to 'New Content', new_content_path %>

<h1>Contents</h1>

<%= form_tag(contents_path, method: :get) do %>
  <div class='form-group'>
    <%= label_tag :tags %>
    <%= select_tag 'tags[]', options_for_select(current_user.tags.pluck(:name), params[:tags]), class: 'select2 form-control', multiple: 'multiple' %>
  </div>

  <div class='actions'>
    <%= submit_tag 'Search', class: 'btn btn-primary' %>
  </div>
<% end %>

<BR>
<BR>

<% @contents.each do |content| %>
  <%= link_to 'Show', content_path(content) %>
  <%= link_to 'Edit', edit_content_path(content) %>
  <%= link_to 'Destroy', content_path(content), method: :delete, data: { confirm: 'Are you sure?' }  %>
  <strong>Title</strong>: <%= content.title %>
  <strong>Description</strong>: <%= content.description %>
  <strong>Tags</strong>: <%= content.tags.pluck(:name).join(', ') %>
  <BR>
<% end %>
