<h1>New Content</h1>

<%= form_with(model: @content, local: true) do |form| %>
  <div class'field'>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class'field'>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class='actions'>
    <%= form.submit %>
  </div>
<% end %>
